{% extends "restaurant/base/base.html" %}
{% load static %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'restaurant/css/details.css' %}">

        <div class="wrapper">
            {% include "restaurant/semantics/header.html" %}
            <div class="row container mt-5 mx-auto details">
                <div class="col text-center">
                    <h2 class ="details-header"> Your Order Details</h2>
                    <div classs="details-content pt-3">
                        <table class="table table-hover mg-b-0">
                            <thead>
                                <tr>
                                    <th> Meal</th>
                                    <th> Customer</th>
                                    <th> Cost</th>
                                    <th> Status</th>
                                    <th>Date Ordered</th>
                                    <th>Quantity</th>

                                    <th>Payment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction  in transactions %}
                                <tr>
                                    <td class ="tx-medium td-table">{{ transaction.meal }}</td>
                                    <td class ="tx-medium td-table">{{ transaction.customer.username }}</td>
                                    <td class ="tx-medium td-table">{{ transaction.amount }}</td>
                                    <td>

                                    {% if transaction.status == "Pending" %}
                                    <span class="badge bg-warning text-dark">
                                    🟡 Pending
                                    </span>

                                    {% elif transaction.status == "Preparing" %}
                                    <span class="badge bg-info">
                                    👨‍🍳 Preparing
                                    </span>

                                    {% elif transaction.status == "Out for Delivery" %}
                                    <span class="badge bg-primary">
                                    🚚 Out for Delivery
                                    </span>

                                    {% elif transaction.status == "Delivered" %}
                                    <span class="badge bg-success">
                                    ✅ Delivered
                                    </span>

                                    {% endif %}

                                    </td>
                                    <td class ="tx-medium td-table">{{ transaction.created_at }}</td>
                                    <td>{{ transaction.quantity }}</td>

                                    <td>{{ transaction.payment_method }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}